.DS_Store
.ipynb_checkpoints
dataset/images/
.env
GoogleImageSearch/crawled_images/
GoogleImageSearch/BestArtists50/crawled_images/
website/uploads
googleVision/images/
artechos-1200256b62a5.json
__pycache__
dataset/resized/
dataset/resized_original (change the name to resized to run augmentData.py)/
website/model/